input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-form {
  margin: 0 auto;
  font-size: 50px;
  display: flex;
  align-items: center;
}
.persamaan p {
  text-align: center;
}

.input-form input {
  font-size: 50px;
  text-align: center;
  height: 150px;
  width: 150px;
}
.konversi {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container {
  height: 150px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container button {
  margin: 5px;
  font-size: 20px;
  border-radius: 3px;
  border: none;
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .konversi {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  .input-form input {
    font-size: 30px;
    height: 100px;
    width: 100px;
  }
  .input-form {
    font-size: 30px;
  }
  .button-container {
    margin: 25px 0px;
    height: auto;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .button-container button {
    font-size: 15px;
    padding: 5px;
  }
}
